<html>
<head>
  <title>KaiserMap</title>
</head>

<body>

<form>
  Your Zip: <input type="text" name="zip"/>
  <input type="submit" value="Show doctors">
</form>

<div id="map"></div>

</body>
</html>
