<html>
<head>
  <title>KaiserMap</title>
</head>

<body>

<div id="canvas" style="width: 600px; height: 600px"></div>

<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script src="/javascripts/RS.MAP.js"></script>
<script src="/javascripts/cluster_marker.js"></script>
<script>
  RS.MAP.key = "ABQIAAAA9rWAXwsosqg0R8Lfc9vBnhT2yXp_ZAY8_ufC3CFXhHIE1NvwkxSLxyCjzRF8ZTyc22QCMnivaDZlfQ";
  RS.MAP.start_point = [37.7823055,-122.4410007];
  RS.MAP.zoom = 5;
  RS.MAP.data = <%= Doctor.all.map{|d| [d.id, d.lat, d.lng] }.to_json %>;
  RS.MAP.start('dynamic');
</script>

</body>
</html>
